#parameters {
    display: flex;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    justify-content: flex-end;
}

#parameters div {
    flex: 0 0 auto;
    margin-left: auto;
}

#sketchpad {
    border: 2px solid #333;
    margin: 2em auto;
    max-width: 960px;
    min-width: 240px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
}

.sketch-row {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

.sketch-row div {
    flex: 1;
    margin: 2;
    border: 1px solid #d8d8d8;
    min-width: 2px;
    min-height: 2px;
}

.sketched {
    background-color: #222;
    border: 1px solid #222;
}

footer {
    margin: auto 2em 1em;
    padding: 1em 2em;
    background-color: lavender;
    border: 3px ridge #aaa;
    text-align: center;
    border-radius: 1em;
}
